﻿html, body {
    font-family: Verdana, Arial, Helvetica, sans-Serif;
    margin: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#canv_div{
    float: left;
    margin-right: 1em;
}

div {
    color: #cf0808;
}

.question {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    color: #cf0808;
}

.answer {
    font-size: 0.8em;
    color: black;
}

.matrix {
    position: relative;
}

    .matrix:before, .matrix:after {
        content: "";
        position: absolute;
        top: 0;
        border: 1px solid #000;
        width: 6px;
        height: 100%;
    }

    .matrix:before {
        left: -6px;
        border-right: 0;
    }

    .matrix:after {
        right: -6px;
        border-left: 0;
    }