﻿html, body {
    font-family: Verdana, Arial, Helvetica, sans-Serif;
    margin: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#canv_div{
    float: left;
    margin-right: 1em;
}

div {
    color: #cf0808;
}

#question{
    font-style:italic;
    font-weight: bold;
    font-size: 0.8em;
}

#answer {
    color: black;
    font-size: 0.8em;
}