﻿html, body {
    font-family: Verdana, Arial, Helvetica, sans-Serif;
    margin: auto;
    text-align: center;
}

button {
    background-color: white;
    border: 1px solid #cf0808;
    color: #cf0808;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

div {
    padding: 0.4em;
    border: 0.5px solid #cf0808;
    color: #cf0808;
}

.question {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    color: #cf0808;
    text-align: left;
}

.answer {
    font-size: 0.8em;
    color: black;
    text-align: left;
}
