﻿html, body {
    font-family: Verdana, Arial, Helvetica, sans-Serif;
    text-align: center;
}

button {
    background-color: white;
    border: 1px solid #cf0808;
    color: #cf0808;
    padding: 0.2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 7px 7px;
}

.question {
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    color: #cf0808;
    text-align: left;
}

.answer {
    font-size: 0.8em;
    color: black;
    text-align: left;
}

