﻿html, body {
    font-family: Verdana, Arial, Helvetica, sans-Serif;
    margin: auto;
    text-align: center;
}

option {
    padding: 0.5em;
    font-weight: bold;
    color: white;
}
.default {
    background-color: #6495ed;
   
}

.black {
    background-color: #000000;
    color: white;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #ffff00;
    color: dimgrey;
}

.green {
    background-color: #00ff00;
}

.blue {
    background-color: #0000ff;
}

.cyan {
    background-color: #ff00ff;
}

.magenta {
    background-color: #00ffff;
}

.white{
    color: dimgrey;
}

button {
    background-color: white;
    border: 1px solid #cf0808;
    color: #cf0808;
    padding: 0.2em;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

#color_draw_menu {
    clear: right;
}

div {
    padding: 0.4em;
    border: 0.5px solid #cf0808;
    color: #cf0808;
}
